/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 98px;
    background-color: #001F3E;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.hd-container1-bg{
    background-color: #001F3E;
    height: 98px;
    width: 100%;
}
.hd-container2-bg{
    background-color: #FDFACF;
    height: 55px;
    width: 100%;
}

.hd-logo{
    height: 90px;

}

.hd-logo>img{
    height: 100%;
    
}
